transformers==4.49.0
trl==0.16.0
wandb==0.18.3
deepspeed==0.15.4
hpsv2x
attrdict
torchvision==0.20.1
omegaconf
timm
open_clip_torch
einops
scipy
pillow
accelerate
gdown
huggingface-hub
einops
wandb
torch-fidelity
torchinfo
webdataset
diffusers